#------------------------------
# PYTHON
#------------------------------
__pycache__/
*.py[oc]
.ipynb_checkpoints/
build/
dist/
wheels/
*.egg-info/

target/
#--------------------------------
# Visual Studio Code
#--------------------------------
.vscode/

# -------------------------------
# Virtual environments
# -------------------------------
.venv

# -------------------------------
# Media
# -------------------------------
media/
data/
logs/
checkpoints/